<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Models Demo</title>
    <link rel="stylesheet" href="{% "css/mine.css"}"/>
  </head>
  <body>
    <h1>This is showing the connection with the database</h1>
    <p></p>
    <div class="model">
      <!-- if aceess_record exists as a key in view.py's dictionary -->
      {% if access_records %}
      <table>
        <thead>
          <th>Site Name</th>
          <th>Date Accessed</th>
        </thead>

        {% for acc in access_records %}
        <tr>
          <td>{{ acc.name }}</td>
          <td>{{ acc.date }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
        <p>No such thin as access_records!!</p>
      <!-- looping through all items in the dictionary in view.py -->
      {% endif %}

    </div>


  </body>
</html>
